* {
    box-sizing: border-box;
}
body{
    background-image: url(../assets/Images/criss-cross.png);
}

.main{
    text-align: center;
    margin: 10% 25%;
}
.hide {
    display: none;
  }

#scorebox{
    margin-left: 10%;
}
#highScoreLink{
    text-align: center;
}
.btn{
    margin: 1%;
}